// Document -------------------------------------------------------------------

// Border-box rules!
html {
	box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}

// Global styles
html,
body {
    font-family: $font-stack;
    font-size: (strip($base-font-size) / 16 * 100) * 1%;
    line-height: $base-line-height;
    background-color: $white;
    color: $black;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// MS viewport fix
// http://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

// MS touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button { -ms-touch-action: none !important; }

html {
  overflow-y: scroll;
}

body {
  position: relative;
  box-sizing: border-box;
  background: #fffffd;
  &:before, &:after {
    content: "";
    position: absolute;
    @include linear-gradient(red, orange);
    top: 0;
    bottom: 0px;
    width: 8px;
  }
  &.landing {
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include linear-gradient(red, orange);
    &:before, &:after {
      position: relative;
    }
  }
}

nav {
  position: relative;
  top: -2.5em;
  padding: 0 0 0 1em;
  transition: top 1.3s ease-in, opacity 1.5s ease-in;
  opacity: 0;
  &.visible {
    top: 0;
    opacity: 1;
  }
  ul li {
    display: inline-block;
    padding: .8em 1em;
    color: white;
    a {
      color: inherit;
      outline: none;
      text-decoration: none;
      font-size: 1.05em;
      border-bottom: 1px dotted transparent;
      transition: border-bottom 0.2s ease-in, color 0.2s ease-in;
      &:hover {
        border-bottom: 1px dotted white;
      }
      &.active {
        border-bottom: 1px dotted white;
      }
      &.landing {
        transition: border-bottom 0.2s ease-in, color 0.2s ease-in;
      }
      &:hover {
        border-bottom: 1px dotted white;
        color: white;
      }
    }
  }
}
