.hero-unit {
  // margin: 4em 0 0 1em;
  position: absolute;
  width: 100%;
  bottom: 0;
  article {
    width: 100%;
    // font-size: 0px;
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    &.visible {
      opacity: 1;
    }
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px dotted white;
      transition: border-bottom 0.3s ease-in;
      &:hover {
        border-bottom: 1px dotted transparent;
      }
    }
  }
}
