// section.hero-unit {
//   width: 100%;
//   height: 100%;
//   padding: 0rem 1rem;
//   padding-top: 20%;
//   @include linear-gradient(red, blue);
//   color: white;
//   // &:before, &:after{
//   //   // content: "";
//   //   // position: absolute;
//   //   // background-image: -webkit-gradient(linear, 0 0, 0 100%, from($brand-color), to($accent-color));
//   //   // background-image: -webkit-linear-gradient($brand-color, $accent-color);
//   //   // background-image: -moz-linear-gradient($brand-color, $accent-color);
//   //   // background-image: -o-linear-gradient($brand-color, $accent-color);
//   //   // top: 0
//   //   // bottom: 0px
//   //   // width: 8px
//   //   // &.landing
//   //   @include linear-gradient(#c01b17, #CDCBC3);
//   //   background-repeat: no-repeat;
//   //   background-attachment: fixed;
//   // }
// }
//     // background-image: linear-gradient(#c01b17, #CDCBC3)
//     // background-image: linear-gradient(#053640, #3889C0)

.hero-unit {
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
  // padding-top: 20%;
  color: white;
  @include linear-gradient(red, orange);
  article {
    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px dotted white;
      transition: border-bottom 0.3s ease-in;
      &:hover {
        border-bottom: 1px dotted transparent;
      }
    }
  }
}
