.hero-unit {
  margin: 4em 0 0 1em;
  article {
    width: 100%;
    // font-size: 0px;
    color: white;
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px dotted white;
      transition: border-bottom 0.3s ease-in;
      &:hover {
        border-bottom: 1px dotted transparent;
      }
    }
  }
}
